.headcontainer{
    display: flex;
}

.headcontainer div{
    height: 50px;
    width: auto;
    background-color: rebeccapurple;
    flex: 1;
}

.headlinks{
    display: flex;
    background-color: red;
}

.headlinks .headlinkone{
    background-color: red;
}

.body{
    margin-left: 96px;
    margin-right: 96px;
}


